<style>
.center {
  padding: 13.9% 0;
  text-align: center;
}

</style>

<div class="center" style="background-image: url('assets/img/bg.jpg');">

<mat-card class="example-card" style='width:20%; left:40%; padding: 2% 0 4% 0'>
  <div align="center">
  <h1>Login</h1>
  </div>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0" align="center">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Team Name" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
  </mat-card-actions>
</mat-card>

</div>
